@import url("https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap");

*{
    font-family: 'Allerta Stencil';
}

#all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
}

h1{
  text-align: center;
}

#bottom{
  display:flex;
  flex-direction: column;

  height: auto;
  width: auto;

  padding: 100px;
  margin: 50px;

  background-color: yellow;
  border: 2px solid black;
}

#search{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#buttons{
  display:flex;
  justify-content: center;
  align-items: center;
}

#buttons>button:hover{
  opacity: 1.1;
  box-shadow: 3px 4px;
}

a,a:visited,a:focus,a:active,a:hover{
  text-decoration: none;
  color: black;
}

#new-quote{
  margin: 10px;
}

#tweet-quote{
  margin: 10px;
}

#words{
  margin: 10px;
  text-align: center;
}
